**/serverless-output.*
**/.DS_Store
temp/
.DS_Store
**/.vscode/
**/build/
**/dist/
**/*egg*
**/*.pyc
**/.vscode
**/*_cache
**/*pycache*
*coverage*
venv/
**.tfstate*
.pytest*
.env
terraform/.terraform**/**
packages/
layer/python/


