name: team-09-sperrins

on:
  pull_request:
    branches:
      - main

jobs:
  run-tests:
    name: run-tests
    runs-on: ubuntu-latest
    # implement make file execution
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      #Set up python
      - name: use-python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.7"
      - name: Run all checks
        run: make all

  deploy-lambda:
    name: deploy-lambda
    runs-on: ubuntu-latest
    needs: run-tests
    environment: dev
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        #Install terraform
      - name: setup terraform
        uses: hashicorp/setup-terraform@v3
      - name: Setup AWS cred
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }} 
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      # terraform init
      - name: Terraform init 
        working-directory: terraform
        run: terraform init
      # setup terraform variables
      - name: Setup Terraform variables
        run: |
          echo "TF_VAR_a_totesys_username=${{ secrets.A_TOTESYS_USERNAME }}" >> $GITHUB_ENV
          echo "TF_VAR_b_totesys_password=${{ secrets.B_TOTESYS_PASSWORD }}" >> $GITHUB_ENV
          echo "TF_VAR_c_totesys_host=${{ secrets.C_TOTESYS_HOST }}" >> $GITHUB_ENV
          echo "TF_VAR_d_totesys_database=${{ secrets.D_TOTESYS_DATABASE }}" >> $GITHUB_ENV
          echo "TF_VAR_e_final_dw_username=${{ secrets.E_FINALDW_USERNAME }}" >> $GITHUB_ENV
          echo "TF_VAR_f_final_dw_password=${{ secrets.F_FINALDW_PASSWORD }}" >> $GITHUB_ENV
          echo "TF_VAR_g_final_dw_host=${{ secrets.G_FINALDW_HOST }}" >> $GITHUB_ENV
          echo "TF_VAR_h_final_dw_database=${{ secrets.H_FINALDW_DATABASE }}" >> $GITHUB_ENV
      # terraform plan
      - name: Terraform plan 
        working-directory: terraform
        run: terraform plan 
      # terraform fmt
      - name: Terraform format
        working-directory: terraform
        run: terraform fmt
      # terraform apply
      - name: Terraform apply
        working-directory: terraform 
        run: terraform apply -auto-approve
